.calculateshipping-button-container {
	overflow: visible;
   	width: 100%;
	clear:both;
	margin-top: 30px;
	margin-bottom: 30px;
}

.calculateshipping-button {
    width: 300px;
}

.cs-btn { z-index: 9999; }

.cs-btn span {
    z-index: 9999 !important; width:500px !important;
    overflow: visible;
}